@charset "UTF-8";

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'), url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.woff2') format('woff2'), url('../fonts/PTSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2'), url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Bold.woff2') format('woff2'), url('../fonts/FiraSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFFFF;
    color: #293449;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 1400px;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.page-body {
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
    color: inherit;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 11px 5px 11px 5px;
    cursor: pointer;
    overflow-wrap: anywhere;
}

.green {
    background-color: #63A63E;
}

.green:focus {
    outline: none;
    background-color: #518534;
}

.green:hover {
    background-color: #5FBB2D;
}

.green:active {
    background-color: #518534;
}


/*************************************************/
/************** Page Header Section **************/

.page-header {
    position: relative;
    box-sizing: border-box;
    width: 1400px;
    color: inherit;
}

/***************************/
/***** Header Contacts *****/

.header-contacts-wrapper {
    width: 1400px;
    background-color: #F3F7F9;
}

.page-header-contacts {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: [c1] auto [c2] 280px [c3] 229px;
    width: 1170px;
    margin: 0 auto 0 auto;
}

.header-contacts-item.title {
    grid-column-start: c1;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #EE3643;
    line-height: 18px;
    overflow-wrap: anywhere;
    margin-left: 2px;
    padding: 14px 5px 13px 0;
}

.header-contacts-item.address {
    grid-column-start: c2;
    font-size: 14px;
    color: #32425C;
    line-height: 18px;
    overflow-wrap: anywhere;
    padding: 12px 0 13px 0;
}

.header-contacts-item.phone {
    grid-column-start: c3;
    display: flex;
    gap: 6px;
    align-items: start;
    justify-content: right;
    font-size: inherit;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    overflow-wrap: anywhere;
    padding: 13px 3px 13px 0;
}

.header-contacts-item.phone::before {
    content: " ";
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 1px;
    background-image: url("../images/icons/phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

/***** End Header Contacts *****/

/****************************/
/***** Header Controls  *****/

.header-controls-wrapper {
    width: 1400px;
    background-color: #293449;
}

.page-header-controls {
    position: relative;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: [logo] 220px [search] 716px [login] auto;
    width: 1170px;
    margin: 0 auto 0 auto;
}

.page-header-logo {
    grid-column-start: logo;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    align-self: self-start;
    box-sizing: border-box;
    width: 220px;
    padding: 12px 0 13px 55px;
    background-color: rgba(238, 54, 67, 1);
    box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.page-header-logo:focus {
    outline: none;
}

/*******************/
/*** Site Search ***/

.site-search-form {
    grid-column-start: search;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.site-search-input {
    width: 100%;
    height: 100%;
    outline: none;
    box-sizing: border-box;
    background-color: #293449;
    background-image: url("../images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
    overflow: hidden;
    white-space: nowrap;
    padding: 13px 10px 11px 53px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: #293449;
}

.site-search-input:focus,
.site-search-input:hover {
    background-color: #F1F5F7;
    background-image: url("../images/icons/search-active.svg");
    background-repeat: no-repeat;
    background-position: 20px 50%;
}

.site-search-input:active {
    color: #293449;
}

.site-search-input:disabled {
    opacity: 0.3;
}

.site-search-input::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

.site-search-input:focus::placeholder,
.site-search-input:hover::placeholder {
    color: #C5C5C5;
}

.site-search-input:active::placeholder {
    color: #293449;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 12px;
    height: 13px;
    margin-right: 9px;
    background-color: #F1F5F7;
    background-image: url('../images/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

/*** End Site Search ***/

/**********************/
/*** User Nav Menu  ***/

.user-navigation {
    grid-column-start: login;
    display: grid;
    column-gap: 8px;
    grid-template-columns: [nav-1] auto [nav-2] auto;
    justify-content: right;
    margin-right: 2px;
}

.user-navigation.logged-in {
    margin-right: 3px;
}

.user-navigation-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F1F5F7;
    align-self: start;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    opacity: 1;
}

.user-navigation-link:focus {
    outline: none;
    opacity: 0.6;
}

.user-navigation-link:hover {
    opacity: 0.6;
}

.user-navigation-link:active {
    color: #FFFFFF;
    opacity: 1;
}

.user-navigation-link.hidden {
    display: none;
}

.user-navigation-link.login {
    grid-column-start: nav-2;
    padding: 14px 0 10px 0;
}

.user-navigation-link.login::before {
    content: " ";
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 12px;
    background-image: url("../images/icons/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.user-navigation-link.profile {
    grid-column-start: nav-1;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    padding: 10px 5px 11px 11px;
}

.user-navigation-link.profile::before {
    content: " ";
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin-right: 7px;
    background-image: url("../images/icons/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 3px;
    opacity: 1;
}

.user-navigation-link.logout {
    grid-column-start: nav-2;
    width: 22px;
    box-sizing: border-box;
    padding: 14px 0 11px 5px;
    /*margin-right: 4px;*/
}

.user-navigation-link.logout::before {
    content: " ";
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    background-image: url("../images/icons/logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*** End User Nav Menu  ***/

/***** End Header Controls  *****/

/*********************************/
/***** Site Main Navigation  *****/

.header-navigation-wrapper {
    width: 1400px;
    background-color: #3D546F;
}

.page-header-navigation {
    display: grid;
    grid-template-columns: auto 332px;
    width: 1170px;
    margin: 0 auto 0 auto;
}

.main-menu-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: auto;
    box-sizing: border-box;
    margin: 0 0 0 -20px;
    padding: 0;
    list-style: none;
    background-color: #3D546F;
}

.main-menu-item {
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

.main-menu-link {
    display: block;
    box-sizing: border-box;
    padding: 20px 22px 27px 24px;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

/* Похоже ошибка в дизайне. Создадим специальный класс */
.main-menu-item:nth-child(5) .main-menu-link {
    padding-right: 24px;
}

.main-menu-link:focus {
    outline: none;
    background-color: #32425C;
}

.main-menu-link:hover {
    background-color: #32425C;
    color: #C5C5C5;
}

.main-menu-link:active {
    background-color: #32425C;
    color: #FFFFFF;
    text-shadow: 0 0 1px, 0 0 1px, 0 0 1px, 0 0 1px, 0 0 1px; /* трюк: вместо font-weight: 700, который сдвигает соседние элементы*/
}

/***** Site Main Navigation End  *****/

/*********************************/
/***** Cart Navigation  *****/

.cart-navigation {
    align-self: start;
}

.cart-navigation-list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-end;
    margin: 11px 0 12px 0;
    padding: 0;
    list-style: none;
}

.cart-navigation-item {
    position: relative;
}

.cart-navigation-item:last-child .cart-navigation-button {
    margin-right: 3px;
}

.cart-navigation-link {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    padding: 8px 10px 10px 0;
}

.cart-navigation-link:focus {
    outline: none;
    background-color: #32425C;
    border-radius: 4px;
}

.cart-navigation-link:hover {
    background-color: #5FBB2D;
    color: #C5C5C5;
    border-radius: 4px;
}

.cart-navigation-link:active {
    background-color: #518534;
    color: #FFFFFF;
    border-radius: 4px;
}

.bookmarks {
    padding-left: 36px;
    margin-right: 3px;
}

/* при пустой корзине включаем этот стиль
   при этом в теге 'a' должен быть nbsp; */
.bookmarks-empty {
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 0;
}

.bookmarks-empty::before,
.bookmarks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/bookmark.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.basket {
    padding-left: 36px;
    margin-right: 18px;
}

/* при пустой корзине включаем этот стиль
   при этом в теге 'a' должен быть nbsp; */
.basket-empty {
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 13px;
}

.basket-empty::before,
.basket::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 11px;
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/cart.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.cart-navigation-button {
    padding: 12px 0;
    min-width: 170px;
    text-align: center;
}
/***** Cart Navigation End  *****/

/************** End Page Header Section **************/

/************** Page Body Section **************/
.promo-advantages {
    padding: 52px 0 50px 0;
}

.promo-advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    grid-auto-flow: row dense;
    width: 1170px;
    margin: 0 auto 0 auto;
    padding: 0;
    list-style: none;
    align-items: start;
}

.promo-advantages-item {
    position: relative;
    width: 370px;
    min-height: 180px;
    margin: 0;
    padding: 21px 25px;
    box-sizing: border-box;
    border-radius: 2px;
}

.promo-advantages-item.new {
    overflow: hidden;
}

.promo-advantages-item.new::before {
    content: "new";
    display: flex;
    position: absolute;
    top: 8px;
    right: -27px;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #EE3643;
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: rotate(45deg);
}

.advantages-item-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 0 56px 0;
    padding: 0;
}

.advantages-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 180px;
    text-align: left;
    border: 1px solid #FFFFFF;
    padding: 10px 20px 10px 27px;
    border-radius: 0;
}

.advantages-button::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.advantages-button:focus {
    outline: none;
    opacity: 0.8;
}

.advantages-button:hover {
    outline: none;
    opacity: 0.6;
}

.advantages-button:active {
    outline: none;
    opacity: 1;
}

.promo-advantages-item.materials {
    background-color: #FFBF47;
    background-image: url("../images/icons/icon-paints.svg");
    background-repeat: no-repeat;
    background-position: right 37px top 50%;
}

.promo-advantages-item.instrument {
    background-color: #3BBCE3;
    background-image: url("../images/icons/icon-instrument.svg");
    background-repeat: no-repeat;
    background-position: right 37px top 50%;
}

.promo-advantages-item.equipment {
    background-color: #DC91D8;
    background-image: url("../images/icons/icon-equipment.svg");
    background-repeat: no-repeat;
    background-position: right 37px top 50%;
    margin-top: -1px;
}

.promo-advantages-item.discount {
    background-color: #8ED78F;
    background-image: url("../images/icons/icon-sale.svg");
    background-repeat: no-repeat;
    background-position: right 37px top 50%;
    margin-top: 1px;
}

.promo-advantages-item.delivery {
    background-color: #FFBF47;
    background-image: url("../images/icons/icon-delivery.svg");
    background-repeat: no-repeat;
    background-position: right 37px top 50%;
    margin-top: 2px;
}

.promo-advantages-item.slider {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    min-height: 390px;
    padding: 0;
    margin: 0;
}

/**** Slider ****/

.slider-control {
    position: relative;
    width: 770px;
    height: 390px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #3D546F;
    color: #FFFFFF;
}

.slider-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-item {
    display: none;
    box-sizing: border-box;
}

.slider-item.current {
    display: block;
}

.slide-content {
    margin: 0;
    padding: 0;
}

.slide-caption {
    color: #FFFFFF;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 50px 0 0 51px;
}

.slide-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.slide-text {
    margin: 11px 0 0 0;
    padding: 0;
}

.slider-pagination {
    position: absolute;
    bottom: 22px;
    left: 50%;
    z-index: 100;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-pagination-item {
    margin: 0;
    padding: 0;
}

.slider-pagination-button {
    display: block;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    line-height: 0;
    margin: 0;
    padding: 0;
    background-color: #FFD180;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
}

.slider-pagination-button:focus {
    opacity: 1;
    outline: none;
}

.slider-pagination-button:hover {
    background-color: #FFFFFF;
    outline: none;
}

.slider-pagination-button:active {
    opacity: 0.6;
    background-color: #FFFFFF;
    outline: none;
}

.slider-pagination-button:disabled {
    opacity: 0.1;
    cursor: not-allowed;
}

.slider-pagination-button.current {
    background-color: #FFFFFF;
}

.slider-arrows {
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.arrow-prev,
.arrow-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(41, 52, 73, 0.6);
    cursor: pointer;
}

.arrow-prev {
    margin-left: 20px;
    background-image: url("../images/slider/arrow-left.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-next {
    margin-right: 20px;
    background-image: url("../images/slider/arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-prev:focus,
.arrow-next:focus {
    outline: none;
    opacity: 0.8;
}

.arrow-prev:hover,
.arrow-next:hover {
    opacity: 1;
}

.slider-button:active {
    opacity: 0.3;
}

.slider-button:disabled {
    opacity: 0.1;
}

.slider-prev {
    transform: rotate(180deg);
}

.catalog-button {
    position: absolute;
    bottom: 40px;
    left: 51px;
    min-width: 195px;
    font-family: inherit;
    text-align: center;
    background-color: #EE3643;
    padding: 13px 0 14px 0;
}

.catalog-button:focus {
    background-color: #EE3643;
}

.catalog-button:hover {
    background-color: #CA2C37;
}

.catalog-button:active {
    background-color: #BA2732;
}

/***** Slider End *****/

/****** Catalog ******/

.catalog {
    margin: 0;
}

.catalog-container {
    display: grid;
    grid-template-columns: 220px auto;
    column-gap: 75px;
}

.catalog-title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 0;
    margin: 0 0 25px 0;
    color: #293449;
    text-transform: uppercase;
}

.catalog-form-filters {
    width: 220px;
    background-color: #FFFFFF;
}

.filter {
    margin: 0;
    padding: 0;
    border: none;
    color: #293449;
}

.filter.price-range {
    margin: 0 0 40px 0;
}

.filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}

/******* Range Control ********/
.range-controls {
    position: relative;
    min-height: 40px;
    box-sizing: border-box;
    margin-bottom: 6px;
    padding: 18px 20px 18px 20px;
    background-color: #F7F3EC;
    border-radius: 2px;
}

.scale-bar {
    height: 2px;
    background-color: #3D546F;
}

.scale-bar-active {
    height: 2px;
    width: 83%;
    background-color: #5FBB2D;
}

.tumbler {
    position: absolute;
    top: 9px;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: 2px solid #3D546F;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.tumbler:focus {
    outline: none;
    background-color: #5FBB2D;
}

.tumbler:hover {
    background-color: #518534;
}

.tumbler:active {
    background-color: #5FBB2D;
}

.tumbler-min {
    left: 18px;
}

.tumbler-max {
    left: 160px;
}

.price-range .filter-title {
    margin: 0 0 10px 0;
    padding: 0;
}

.price-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
}

.min-price,
.max-price {
    width: 47px;
    height: 20px;
    padding: 10px 24px;
    margin: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    background-color: #F7F3EC;
    border-radius: 2px;
}

.input-control:focus,
.input-control:hover,
.input-control:active {
    outline: 1px solid #3D546F;
}
/******* Range Control End ********/

/******* Checkbox Control ********/

.manufacturers .filter-title {
    margin: 0 0 16px -1px;
}

.filter.manufacturers {
    margin: 0 0 25px 0;
}

.manufacturers-list {
    margin: 0;
    padding: 0;
}

.manufacturers-list-item {
    list-style: none;
    margin: 0 0 18px 0;
    padding: 0 0 3px 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.manufacturers-list-item-control {
    position: relative;
    display: block;
    padding: 0 0 0 36px;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 2px solid #3D546F;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.control-label {
    display: inline-block;
    padding: 1px 0 0 0;
}

.manufacturers-list-item-control:focus .control-mark {
    background: rgba(255, 255, 255, 0.6);
}

.manufacturers-list-item-control:hover .control-mark {
    border-color: rgba(50, 66, 92, 0.6);
}

.manufacturers-list-item-control:active .control-mark {
    border-color: rgba(50, 66, 92, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url("../images/icons/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
}

.control-input[type="checkbox"]:checked:hover + .control-mark {
    background-image: url("../images/icons/checkbox-on-hover.svg");
}

.control-input[type="checkbox"]:disabled + .control-mark {
    background-image: url("../images/icons/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
}

.control-input[type="checkbox"]:disabled:checked + .control-mark {
    background-image: url("../images/icons/checkbox-on-disabled.svg");
}

.control-input[type="checkbox"]:disabled + .control-mark + .control-label {
    color: rgba(0, 0, 0, 0.4);
}
/******* Checkbox Control End ********/

/******* Radio Control ********/

.filter.supply {
    margin: 0 0 27px 0;
}

.supply .filter-title {
    margin: 0 0 18px 3px;
}

.supply-list {
    margin: 0 0 0 5px;
    padding: 0;
}

.supply-list-item {
    list-style: none;
    margin: 0 0 18px 0;
    padding: 0 0 2px 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.supply-list-item-control {
    position: relative;
    display: block;
    padding: 0 0 0 36px;
}

.supply-list-item-control .control-label {
    padding: 2px 0 0 0;
}

.control-mark-radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 2px solid #32425C;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.control-input[type="radio"] + .control-mark-radio {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #3D546F;
    border-radius: 50%;
}

.supply-list-item-control:focus .control-mark-radio,
.supply-list-item-control:hover .control-mark-radio,
.supply-list-item-control:active .control-mark-radio,
.control-input[type="radio"]:disabled + .control-mark-radio {
    border-color: rgba(61, 84, 111, 1);
    background: rgba(255, 255, 255, 1);
}

.control-input[type="radio"]:disabled + .control-mark-radio + .control-label {
    color: rgba(0, 0, 0, 0.4);
}

/******* Radio Control End ********/

.filter-button {
    min-width: 220px;
    border: 2px solid #3D546F;
    background-color: #FFFFFF;
    color: #32425C;
    border-radius: 2px;
    margin: 0 0 50px 0;
    padding: 10px 0 8px 2px;
}

.filter-button:focus {
    outline: none;
    border-color: #63A63E;
}

.filter-button:hover {
    border-color: #518534;
}

.filter-button:active {
    border-color: #5FBB2D;
}

/******* Select Control ********/
.catalog-sorting-set {
    width: 280px;
    margin-left: 4px;
}

.sorting-select {
    width: 280px;
}

.select-control {
    height: 40px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #3D546F;
    border-radius: 2px;
    outline: none;
    color: #293449;
    margin: 0;
    padding: 4px 42px 4px 15px;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    background-image: url("../images/icons/icon-down-dir.svg"), linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 11px top 50%, 0 0;
    background-size: 10px auto, 100%;
}

.select-control::-ms-expand {
    display: none;
}

.select-control:focus {
    border-color: #FFBF47;
    box-shadow: none;
    outline: 1px solid #FFBF47;
}

.select-control:hover {
    border-color: #63A63E;
}

.select-control:active {
    border-color: #3F5E72;
}

.select-control:disabled {
    border-color: #E5E5E5;
    color: rgba(0, 0, 0, 0.3);
    background-image: url("../images/icons/icon-down-dir.svg");
}

.select-control option {
    font-weight:normal;
    background: #FFFFFF;
    color: #333333;
    padding: 10px;
}

*[dir="rtl"] .select-control,
:root:lang(ar) .select-control,
:root:lang(iw) .select-control {
    background-position: left 18px top 50%, 0 0;
    padding: 12px 19px 11px 48px;
}

/******* Select Control ********/

/******* Catalog List **********/

.catalog-list-wrapper {
    padding: 33px 0 0 0;
    margin: 0;
}

.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 33px;
    row-gap: 31px;
    margin: 31px 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    display: flex;
    width: 270px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.catalog-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-card {
    font-family: "PT Sans", sans-serif;
    position: relative;
    background-color: transparent;
}

.product-card,
.product-card-content {
    display: flex;
    flex-direction: column;
}

.catalog-item.new::before {
    content: "new";
    display: flex;
    position: absolute;
    padding: 3px 5px 0 0;
    box-sizing: border-box;
    top: 10px;
    right: -27px;
    width: 98px;
    height: 30px;
    transform: rotate(45deg);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*background-color: #EE3643;*/
    background-color: blue;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 100;
}

.catalog-item.new {
    overflow: hidden;
}

.product-card-foreground {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    display: none;
    padding-top: 62px;
    box-sizing: border-box;
    flex-direction: column;
}

.product-card:hover .product-card-foreground {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 216px;
    min-height: 180px;
    background-color: rgba(255, 255, 255, 0.9);
}

.product-card-image {
    display: block;
    width: 216px;
    height: 180px;
    margin: 27px 0 14px 26px;
    box-sizing: border-box;
}

.product-card-title {
    display: block;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #293449;
    text-decoration: none;
    padding: 0 40px 12px 40px;
    text-align: center;
    box-sizing: border-box;
}

.old-price {
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 40px 12px 40px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    text-align: center;
}

.old-price.empty {
    text-decoration-line: none;
}

.new-price {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    width: 140px;
    text-transform: uppercase;
    background-image: url('../images/catalog/red-button.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
    padding: 11px 40px 11px 29px;
    margin: 0 0 21px 65px;

}

.button-bookmarks,
.button-buy {
    display: block;
    width: 135px;
    margin: 0 auto 11px 64px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.button-buy {
    background-color: #63A63E;
}

.button-buy:focus {
    background-color: #63A63E;
}

.button-buy:hover {
    background-color: #5FBB2D;
}

.button-buy:active {
    background-color: #518534;
}

.button-bookmarks {
    border: 2px solid #63A63E;
    background-color: #FFFFFF;
    color: #32425C;
    padding: 9px 20px;
}

.button-bookmarks:hover {
    border-color: #3D546F;
}

.button-bookmarks:hover {
    border-color: #C5C5C5;
    color: #C5C5C5;
}

/******* Catalog List End **********/

/****** Catalog End ******/

/****************************************************/
.page-footer-wrapper {
    width: 1400px;
    background-color: #32425C;
}
.page-footer {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
}

